@import "./module/navbar.css";
@import "./module/sub-header.css";
@import "./module/box.css";
@import "./module/sidebar.css";
@import "./module/footer.css";

/* top-nav */
.top-nav--about{
  box-shadow: 0px 3px 3px rgba(52,85,43,0.75);
  position: absolute;
  width: 100%;
  top: 0;
}
/* top-nav */

/* main-content */
.main-content .left-content{
  float: left;
  width: 240px;
  margin-left: 0px;
}

.main-content .right-content{
  float: left;
  width: 700px;
  margin-left: 40px;
}

/* box */
.box-large.ideal .box-content, .box-large.aboutus .box-content{
  height: auto;
  overflow: iniial;
}

.ideal .box-content .motto{
  font-size: 25px;
  margin: 20px 0px;
  color: #95c530;
  font-weight: bold;
}

.ideal .box-content p{
  padding: 0px 0px;
  line-height: 1.8;
}

.aboutus .box-content{
  padding: 20px 28px 35px;
}

.abouts .box-content table{
  width: 100%;
  border-collapse: collapse;
}

.aboutus .box-content th{
  padding: 15px 10px;
  text-align: left;
  border-bottom: 1px dashed #95c530;
}

.aboutus .box-content td{
  padding: 15px 0px;
  border-bottom: 1px dashed #95c530;
}
