@import "./module/navbar.css";
@import "./module/sub-header.css";
@import "./module/box.css";
@import "./module/sidebar.css";
@import "./module/footer.css";

/* top-nav */
.top-nav--service{
  box-shadow: 0px 3px 3px rgba(52, 85, 43, 0.75);
  position: absolute;
  width: 100%;
  top: 0;
}
/* top-nav */

/* main-content */
.main-content .left-content{
  float: left;
  width: 240px;
  margin-left: 0px;
}

.main-content .right-content{
  float: left;
  width: 700px;
  margin-left: 40px;
}
/* main-content */

/* box */
.box-large.service .box-content{
  height: auto;
  overflow: initial;
}

.service .box-content{
  padding: 20px 28px 35px;
}

.service  .box-content h3{
  color: #95c530;
  border-bottom: 1px dashed #95c530;
  padding-bottom: 5px;
}

.media{
  margin: 20px 0px;
}

.media, .media-content{
  overflow: hidden;
  zoom: 1;
}

.media .image{
  float: left;
  margin-right: 30px;
  width: 200px;
}

.media .image img{
  border: none;
  width: 100%;
}

.media-content .service-name{
  font-size: 18px;
  padding: 8px 15px;
  color: #fff;
  background-color: #95c530;
  font-weight: bold;
}

.media-content p{
  padding: 0px 10px;
}
