  /* header */
  .top-head {
    height: 300px;
    width: 100%;
    background-image: url("./img/top.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .top-head h1 {
    color: #fff;
    font-size: 60px;
    padding-top: 70px;
    margin-left: 30px;
    text-shadow: 1px 2px 2px rgba(52, 85, 43, 0.8);
  }
  /* header */
  
  /* main-content */
  
  .main-content .right-content{
    float: left;
    width: 240px;
    margin-left: 40px;
  }
  
  .main-content .right-content img{
    width: 100%;
    border: 5px solid #EDCA2F;
    box-shadow: 0px 1px 3px rgba(34,50,24.0.6);
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  .main-content .left-content{
    float: left;
    width:  700px;
  }
  /* .main-content */
  
