.sub-header{ 
  margin-top: 60px; 
  height: 160px; 
  width: 100%; 

  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(top, #558536 0%, #95C530 100%); 

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(top, #558536 0%, #95C530 100%); 

  /* Opera */ 

  background-image: -o-linear-gradient(top, #558536 0%, #95C530 100%); 

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #558536), color-stop(1, #95C530)); 

  /* Webkit (Chrome 11+) */ 

  background-image: -webkit-linear-gradient(top, #558536 0%, #95C530 100%); 

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to bottom, #558536 0%, #95C530 100%); 
} 
.sub-header h1{ 
  color: #fff; 
  font-size: 30px; 
  padding-top: 50px; 
  text-shadow: 1px 2px 2px rgba(52,85,43,0.8); 
} 